<!DOCTYPE html>
<html>

<head>
    <title>Analysis Results</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>

<body>
    <h1>Analysis Results</h1>
    <img src="{{ graph_url1 }}" alt="Matplotlib Graph" width="1200">
    <br>
    <img src="{{ graph_url2 }}" alt="Matplotlib Graph" width="1200">
    <br>
    <img src="{{ graph_url3 }}" alt="Matplotlib Graph" width="1200">
    <br>
    <img src="{{ graph_url4 }}" alt="Matplotlib Graph" width="1400">
    <br>
    <img src="{{ graph_url5 }}" alt="Matplotlib Graph" width="1600">
    <br>
    <img src="{{ graph_url6 }}" alt="Matplotlib Graph" width="1600">
    <br>
    <img src="{{ graph_url7 }}" alt="Matplotlib Graph" width="1000">
    <br>

</body>

</html>